<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ttebd.a8abcResInvoke" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>A8abcResInvoke</name>
    <js-module name="A8abcResInvoke" src="www/A8abcResInvoke.js">
        <clobbers target="cordova.plugins.A8abcResInvoke"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="A8abcResInvoke">
                <param name="android-package" value="com.ttebd.a8abcResInvoke.A8abcResInvoke"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/A8abcResInvoke.java" target-dir="src/com/ttebd/a8abcResInvoke/A8abcResInvoke"/>
        <source-file src="src/android/Utils.java" target-dir="src/com/ttebd/a8abcResInvoke/A8abcResInvoke"/>
        <source-file src="src/android/PrintMain.java" target-dir="src/com/ttebd/a8abcResInvoke/A8abcResInvoke"/>
        <source-file src="src/android/DeviceSecurityException.java" target-dir="src/com/ttebd/a8abcResInvoke/A8abcResInvoke"/>
        <source-file src="src/android/DeviceHelper.java" target-dir="src/com/ttebd/a8abcResInvoke/A8abcResInvoke"/>

        <lib-file arch="device" src="src/android/libs/abc_pos_usdk_aidl_v1.0.26_2018013101.jar" />

    </platform>
</plugin>